@page "/Lists/AllElements"
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@inject DataService DS
@inject SessionData SD
@inject IJSRuntime JSRuntime
@using BioMap

<h1>@Localize["All Elements"]</h1>

<p>Anzahl Elemente: @Elements.Length</p>

<PhotoPopup @ref="PhotoPopup1" />

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cat.</th>
      <th scope="col">Details</th>
      <th scope="col">Time</th>
      <th scope="col">Name</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var el in Elements) {
      <tr>
        <th scope="row">@(i++)</th>
        <td>@el.ElementProp.MarkerInfo.category</td>
        <td>@el.GetDetails()</td>
        <td>@el.ElementProp.CreationTime</td>
        <td><a href="javascript:void(0);" @onclick="()=>OnSelectClick(el)">@el.ElementName</a></td>
        <td>@el.ElementProp.UploadInfo.UserId</td>
      </tr>
    }
  </tbody>
</table>

@code {
  private int i = 0;
  private Element[] Elements = new Element[0];
  private PhotoPopup PhotoPopup1;
  protected override void OnInitialized() {
    base.OnInitialized();
    SD.Filters.FilterChanged+=(sender,ev) =>
    {
      RefreshData();
      base.InvokeAsync(StateHasChanged);
    };
    RefreshData();
  }
  private void RefreshData() {
    this.Elements = Elements = DataService.Instance.GetElements(SD.Filters,"","elements.creationtime DESC");
  }
  private void OnSelectClick(Element el) {
    this.PhotoPopup1.Show(el);
  }
}
