@page "/lists/all_individuals"
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@inject DataService DS
@inject IJSRuntime JSRuntime
@using BioMap

<h1>@Localize["All Individuals"]</h1>

<p>Anzahl Individuen: @Individuals.Count</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">IID</th>
      <th scope="col">ID</th>
      <th scope="col">Time</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var iid in Individuals.Keys) {
    <tr>
      <th scope="row">@(iid)</th>
      <td>@((MarkupString)GetForElements(iid,el=>el.ElementName))</td>
      <td>@((MarkupString)GetForElements(iid,el=>el.ElementProp.CreationTime.ToString()))</td>
      <td>@((MarkupString)GetForElements(iid,el=>el.ElementProp.UploadInfo.UserId))</td>
    </tr>
    }
    </tbody>
</table>

@code {
  private Dictionary<int,List<Element>> Individuals = DataService.Instance.GetIndividuals();
  private string GetForElements(int iid,Func<Element,string> func) {
    var sb = new System.Text.StringBuilder();
    foreach (var el in this.Individuals[iid]) {
      sb.Append(func(el)+"<br/>");
    }
    return sb.ToString();
  }
}
