@page "/lists/all_individuals"
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@inject DataService DS
@inject IJSRuntime JSRuntime
@using BioMap

<h1>@Localize["All Individuals"]</h1>

<p>Anzahl Individuen: @Individuals.Count</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cat.</th>
      <th scope="col">ID</th>
      <th scope="col">Date</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var el in NormedElements) {
    <tr>
      <th scope="row">@(i++)</th>
      <td>@el.ElementProp.MarkerInfo.category</td>
      <td>@el.ElementName</td>
      <td>@el.ElementProp.CreationTime</td>
      <td>@el.ElementProp.UploadInfo.UserId</td>
    </tr>
    }
  </tbody>
</table>

@code {
  private int i = 0;
  private Element[] NormedElements = DataService.Instance.GetNormedElements();
  private Dictionary<int,List<Element>> Individuals = DataService.Instance.GetIndividuals();
}
