@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@using BioMap

<div class="top-row pl-4 navbar navbar-dark">
  <a class="navbar-brand" href="">BioMap</a>
  <button class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <ul class="nav flex-column">
    <li class="nav-item px-2">
      <NavLink class="nav-link" href="/">
        <span class="oi oi-home" aria-hidden="true"></span> @Localize["Home"]
      </NavLink>
    </li>
    <li class="nav-item px-2">
      <NavLink class="nav-link" href="/Map">
        <span class="oi oi-map" aria-hidden="true"></span> @Localize["Map"]
      </NavLink>
    </li>
    <li class="nav-item px-2">
      <NavLink class="nav-link" @onclick='()=>toggleSubNav("Add")'>
        <span class="oi oi-plus" aria-hidden="true"></span> @Localize["Add"]
      </NavLink>
      @if (expandedSubNav == "Add") {
        <ul class="nav flex-column">
          <li class="nav-item px-4">
            <NavLink class="expand-menu" href="/Add/Image">
              <span class="oi oi-image" aria-hidden="true"></span> @Localize["Image"]
            </NavLink>
          </li>
        </ul>
      }
    </li>
    <li class="nav-item px-2">
      <NavLink class="nav-link" @onclick='()=>toggleSubNav("Lists")'>
        <span class="oi oi-list" aria-hidden="true"></span> @Localize["Lists"]
      </NavLink>
      @if (expandedSubNav == "Lists") {
        <ul class="nav flex-column">
          <li class="nav-item px-4">
            <NavLink class="expand-menu" href="/Lists/AllElements">
              <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["All Elements"]
            </NavLink>
          </li>
          <li class="nav-item px-4">
            <NavLink class="expand-menu" href="/Lists/AllIndividuals">
              <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["All Individuals"]
            </NavLink>
          </li>
          <li class="nav-item px-4">
            <NavLink class="expand-menu" href="/Lists/AllImages">
              <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["All Images"]
            </NavLink>
          </li>
          <li class="nav-item px-4">
            <NavLink class="expand-menu" href="/Lists/IdCardsByPlaces">
              <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["ID Cards by Places"]
            </NavLink>
          </li>
          <li class="nav-item px-4">
            <NavLink class="expand-menu" href="/Lists/IdCards">
              <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["ID Cards"]
            </NavLink>
          </li>
          <li class="nav-item px-4">
            <NavLink class="expand-menu" href="/Lists/Protocol">
              <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["Protocol"]
            </NavLink>
          </li>
        </ul>
      }
    </li>
    <li class="nav-item px-2">
      <NavLink class="nav-link" @onclick='()=>toggleSubNav("Diagrams")'>
        <span class="oi oi-graph" aria-hidden="true"></span> @Localize["Diagrams"]
      </NavLink>
      @if (expandedSubNav == "Diagrams") {
        <ul class="nav flex-column">
          <li class="nav-item px-4">
            <NavLink class="expand-menu" href="/Charts/SizeTimeChart">
              <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["Length / Time Chart"]
            </NavLink>
          </li>
          <li class="nav-item px-4">
            <NavLink class="expand-menu" href="/Charts/FrequencyByPlace">
              <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["Frequency by Place / Time Chart"]
            </NavLink>
          </li>
          <li class="nav-item px-4">
            <NavLink class="expand-menu" href="/Charts/NumberYoBChart">
              <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["Numbers / Year of Birth Chart"]
            </NavLink>
          </li>
        </ul>
      }
    </li>
    <li class="nav-item px-2">
      <NavLink class="nav-link" @onclick='()=>toggleSubNav("Statistics")'>
        <span class="oi oi-pie-chart" aria-hidden="true"></span> @Localize["Statistics"]
      </NavLink>
      @if (expandedSubNav == "Statistics") {
    <ul class="nav flex-column">
      <li class="nav-item px-4">
        <NavLink class="expand-menu" href="/Statistics/Summary">
          <span class="oi oi-pie-chart" aria-hidden="true"></span> @Localize["Summary"]
        </NavLink>
      </li>
      <li class="nav-item px-4">
        <NavLink class="expand-menu" href="/Statistics/ByCategories">
          <span class="oi oi-pie-chart" aria-hidden="true"></span> @Localize["ByCategories"]
        </NavLink>
      </li>
    </ul>
      }
    </li>
    <li class="nav-item px-2">
      <NavLink class="nav-link" href="/Impressum">
        <span class="oi oi-document" aria-hidden="true"></span> @Localize["Impressum"]
      </NavLink>
    </li>
  </ul>
</div>

@code {
  private static string expandedSubNav = "";
  private static void toggleSubNav(string navId) {
    if (string.CompareOrdinal(expandedSubNav,navId) == 0) {
      expandedSubNav = "";
    } else {
      expandedSubNav = navId;
    }
  }

  private bool collapseNavMenu = true;
  private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
  private void ToggleNavMenu() {
    collapseNavMenu = !collapseNavMenu;
  }
}
