@page "/Statistics/Reproduction"
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@inject IJSRuntime JSRuntime
@using BioMap
@using ChartJs.Blazor.Common.Enums
@using ChartJs.Blazor.Common.Axes
@using ChartJs.Blazor.Common.Axes.Ticks
@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Common.Handlers
@using ChartJs.Blazor.Common.Time
@using ChartJs.Blazor.LineChart
@using ChartJs.Blazor.BarChart
@using ChartJs.Blazor.BarChart.Axes

<FilterSettings FilteringTarget="@Filters.FilteringTargetEnum.Individuals" />

<h1>@Localize["Reproduction"]</h1>

<Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged" Pills="true">
  <Items>
    <Tab Name="ByPlace">@Localize["By place"]</Tab>
  </Items>
  <Content>
    <TabPanel Name="ByPlace">
      <Row>
        <Column>
          @Localize["Individuals are counted only once at each location. Only locations with at least one adult and one hatchling are listed. Reproduction rate is the quotient of hatchlings and adults. Adults are all from 2, hatchlings with 0 hibernations."]
        </Column>
      </Row>
      <Row>
        <Column>
          <Chart @ref="_chartJsByPlace" Config="@_configByPlace" Width="600" Height="300" />
        </Column>
      </Row>
      <Row>
        <Column>
          <TableFromChart @ref="_tableFromChartByPlace" RowLabel="@Localize["Place"]" _config="@_configByPlace" />
        </Column>
      </Row>
    </TabPanel>
  </Content>
</Tabs>
