@page "/Charts/SizeTimeChart"
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@inject IJSRuntime JSRuntime
@using BioMap
@using ChartJs.Blazor.Common.Enums
@using ChartJs.Blazor.Common.Axes
@using ChartJs.Blazor.Common.Axes.Ticks
@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Common.Handlers
@using ChartJs.Blazor.Common.Time
@using ChartJs.Blazor.LineChart
@using ChartJs.Blazor.Util

<FilterSettings FilteringTarget="@Filters.FilteringTargetEnum.Individuals" />

<h1>@Localize["Length / Time Chart"]</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <CheckBox Checked="@SD.SizeTimeChartShowGrowingCurves" LabelText=@Localize["Show growing curves"] OnAnyChangedCallback="@CheckBoxShowGrowingCurves_CheckedChanged" />
    </div>
    <div class="col">
      @if (SD.SizeTimeChartShowGrowingCurves) {
        <CheckBox Checked="@SD.SizeTimeChartIncludeSinglePoints" LabelText=@Localize["Include single catches"] OnAnyChangedCallback="@CheckBoxIncludeSinglePoints_CheckedChanged" />
      }
    </div>
    <div class="col">
      @if (SD.SizeTimeChartShowGrowingCurves) {
        <CheckBox Checked="@SD.SizeTimeChartFit" LabelText=@Localize["Fit growing curves"] OnAnyChangedCallback="@CheckBoxFit_CheckedChanged" />
      }
    </div>
    <div class="col">
      @if (SD.SizeTimeChartFit && SD.SizeTimeChartIncludeSinglePoints) {
        <Button Color="Color.Primary" Disabled="SD.CurrentUser.Level<600" @onclick="()=>OnSaveYoBClick()">@Localize["Save calculated year-of-birth values"]</Button>
      }
    </div>
  </div>
</div>

<Chart @ref="_chartJs" Config="@_config" Width="600" Height="300" />
