@inject DataService DS
@inject SessionData SD

<Modal @ref="modalRef" Closed="OnClosed">
  <ModalBackdrop />
  <ModalContent Size="@modalSize" Centered="@centered">
    <ModalHeader>
      <ModalTitle>
        @Title
      </ModalTitle>
      <Buttons Role="ButtonsRole.Toolbar">
        <Buttons Margin="Margin.Is2.FromRight">
          <Button Clicked="@((e)=>sizeButtonClicked())"><Icon Name="@sizeButtonIconName" /></Button>
        </Buttons>
        <CloseButton Clicked="@((e)=>Hide())" />
      </Buttons>
    </ModalHeader>
    <ModalBody MaxHeight="@maxHeight">
      @if (Element!=null) {
        @if (hasPhoto) {
          <img src="api/photos/@ElementName" style="max-width:100%;max-height:100%;margin-top:3px;" />
        } else {
          <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">@Localize["Time"]</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
              <DateEdit TValue="DateTime" @bind-Date="Element.ElementProp.CreationTime" ReadOnly="@(SD.CurrentUser.Level<500)" />
            </FieldBody>
          </Field>
        }
      }
      <table class="table">
        <tbody>
          @foreach (var p in Properties) {
            <tr>
              <td>@((MarkupString)p[0])</td>
              <td>@((MarkupString)p[1])</td>
            </tr>
          }
        </tbody>
      </table>
    </ModalBody>
    <ModalFooter>
    </ModalFooter>
  </ModalContent>
</Modal>

@code{
  private Modal modalRef;
  private IconName sizeButtonIconName = IconName.Expand;
  private bool centered = false;
  private ModalSize modalSize = ModalSize.Default;
  private int? maxHeight = 80;
  private bool hasPhoto = false;
  public Element Element { get; private set; } = null;
  public string Title { get; set; }
  public string ElementName { get; set; }
  private Boolean _Show { get; set; }
  private List<string[]> Properties { get; set; } = new List<string[]>();
  public void Show(Element el) {
    this.hasPhoto=el.HasPhotoData();
    this.Element=el;
    this.ElementName=el.ElementName;
    this.Title=el.ElementName;
    this.Properties.Clear();
    if (el.HasIndivData() && el.HasMeasuredData()) {
      this.Properties.Add(new[] { "Individual","<b>"+el.GetIId()+"</b> ("+el.GetGender()+" / "+el.GetHeadBodyLengthNice()+" / "+el.GetPlace().Name+")" });
    }
    this.Properties.Add(new[] { "Cat.",el.GetCategoryNice() });
    this.Properties.Add(new[] { "File name",el.ElementName });
    if (hasPhoto) {
      this.Properties.Add(new[] { "Time",ConvInvar.ToString(el.ElementProp.CreationTime) });
    }
    this.Properties.Add(new[] { "Uploaded",ConvInvar.ToString(el.ElementProp.UploadInfo.Timestamp) });
    this.Properties.Add(new[] { "by",el.ElementProp.UploadInfo.UserId });
    if (this.hasPhoto) {
      this.Properties.Add(new[] { "Camera",el.ElementProp.ExifData.Make+" / "+el.ElementProp.ExifData.Model });
    }
    if (el.HasIndivData()) {
      var els = DS.GetElements(null,"indivdata.iid='"+el.GetIId()+"' AND elements.creationtime<'"+el.GetIsoDateTime()+"'","elements.creationtime DESC");
      if (els.Length>=1) {
        double dDistance = GeoCalculator.GetDistance(els[0].ElementProp.MarkerInfo.position,el.ElementProp.MarkerInfo.position);
        this.Properties.Add(new[] { "Migration distance",ConvInvar.ToDecimalString(dDistance,0)+" m" });
      }
    }
    this.StateHasChanged();
    this.modalRef.Show();
  }
  public void Hide() {
    this.modalRef.Hide();
  }
  private void sizeButtonClicked() {
    if (this.modalSize==ModalSize.Default) {
      this.modalSize=ModalSize.Large;
      this.sizeButtonIconName=IconName.Compress;
    } else {
      this.modalSize=ModalSize.Default;
      this.sizeButtonIconName=IconName.Expand;
    }
  }
  private void OnClosed() {
    if (this.Element!=null) {
      DS.WriteElement(this.Element);
    }
  }
}