@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@using Microsoft.AspNetCore.Components.Forms
@inject DataService DS
@inject IJSRuntime JSRuntime
@using BioMap

<Switch Color="Color.Success" TValue="bool" Checked="@Checked" CheckedChanged="@((e)=>Checked_Changed(e))">@LabelText</Switch>

@*<div class="form-group">
  <span data-toggle="tooltip" title="@LabelToolTip">@LabelText: </span>
  <input type="checkbox" checked="@Checked" @onchange="Checked_Changed" />
  </div>*@

@code {
  [Parameter]
  public string LabelText { get; set; }
  [Parameter]
  public string LabelToolTip { get; set; }
  [Parameter]
  public bool Checked { get; set; }
  [Parameter]
  public EventCallback<bool> CheckedChanged { get; set; }
  [Parameter]
  public EventCallback<ChangeEventArgs> OnAnyChangedCallback { get; set; }
  //
  private void Checked_Changed(bool e)
  {
    this.Checked = e;
    var ea = new ChangeEventArgs();
    ea.Value = e;
    this.CheckedChanged.InvokeAsync(e);
    this.OnAnyChangedCallback.InvokeAsync(ea);
  }
}
