@inject DataService DS
@inject SessionData SD
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits AreaMap

<Modal @ref="modalRef" Closed="@((e)=>{ Closed.InvokeAsync(Location); })">
  <ModalContent Size="@modalSize" Centered="@centered">
    <ModalHeader>
      <ModalTitle>
        @Localize["Select location"]
      </ModalTitle>
      <Buttons Role="ButtonsRole.Toolbar">
        <Buttons Margin="Margin.Is2.FromRight">
          <Button Clicked="@((e)=>sizeButtonClicked())"><Icon Name="@sizeButtonIconName" /></Button>
        </Buttons>
      </Buttons>
    </ModalHeader>
    <ModalBody MaxHeight="@maxHeight" Style="min-height:600px;">
      <GoogleMapsComponents.GoogleMap @ref="@googleMap" Id="googleMap" Options="@mapOptions" Height="600px"></GoogleMapsComponents.GoogleMap>
    </ModalBody>
    <ModalFooter>
      <Buttons Role="ButtonsRole.Toolbar">
        <Buttons Margin="Margin.Is2.FromRight">
          <Button Color="Color.Primary" Clicked="@(async (e)=>{ await Save();Hide(); })">
            <Icon Name="IconName.Save" />
            @Localize["Save"]
          </Button>
        </Buttons>
      </Buttons>
    </ModalFooter>
  </ModalContent>
</Modal>

@code{
}
