@inject DataService DS
@inject SessionData SD

<Modal @ref="modalRef">
  <ModalContent Size="@modalSize" Centered="@centered">
    <ModalHeader>
      <ModalTitle>
        @if (ProtocolEntry != null)
        {
          @ProtocolEntry.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")<br />
          @ProtocolEntry.Author
        }
      </ModalTitle>
      <Buttons Role="ButtonsRole.Toolbar">
        <Buttons Margin="Margin.Is2.FromRight">
          <Button Clicked="@((e)=>sizeButtonClicked())"><Icon Name="@sizeButtonIconName" /></Button>
        </Buttons>
      </Buttons>
    </ModalHeader>
    <ModalBody MaxHeight="@maxHeight">
      @if (ProtocolEntry != null)
      {
        <MemoEdit @bind-Text="ProtocolEntry.Text" Style="min-height:400px"></MemoEdit>
      }
    </ModalBody>
    <ModalFooter>
      <Buttons Role="ButtonsRole.Toolbar">
        <Buttons Margin="Margin.Is2.FromRight">
          <Button Color="Color.Warning" Clicked="@((e)=>{ ProtocolEntry.Text=OrigProtocolEntry.Text;Hide(); })">
            @Localize["Close without saving"]
          </Button>
        </Buttons>
        <Buttons Margin="Margin.Is2.FromRight">
          <Button Color="Color.Primary" Clicked="@((e)=>{ Save();Hide(); })">
            <Icon Name="IconName.Save" />
            @Localize["Save"]
          </Button>
        </Buttons>
      </Buttons>
    </ModalFooter>
  </ModalContent>
</Modal>

@code{
}
