@page "/lists/all_individuals"
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@inject DataService DS
@inject IJSRuntime JSRuntime
@using BioMap

<h1>@Localize["All Individuals"]</h1>

<p>Anzahl Individuen: @Individuals.Count</p>

@foreach (var el in NormedElements) {
  <p>@(i++): @el.ElementName: @el.ElementProp.MarkerInfo.category @el.ElementProp.UploadInfo.UserId</p>
}

@code {
  private int i = 0;
  private Element[] NormedElements = DataService.Instance.GetNormedElements();
  private Dictionary<int,List<Element>> Individuals = DataService.Instance.GetIndividuals();
}
