@page "/Maps/Individuals"
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@inject IJSRuntime JSRuntime
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@inherits ElementMap

<Row>
  <Column>
    <FilterSettings FilteringTarget="@Filters.FilteringTargetEnum.Individuals" />
  </Column>
</Row>
<Row>
  <Column>
    <Button Color="Color.Primary" Clicked="async ()=>await FitBounds()">@Localize["Fit visible area"]</Button>
  </Column>
  <Column>
    <CheckBox Checked="ShowCustomMap" CheckedChanged="@((e)=>{ ShowCustomMap=e; })" LabelText=@Localize["Show custom map"] />
  </Column>
  <Column>
    <CheckBox Checked="ShowPlaces" CheckedChanged="(e)=>ShowPlaces=e" LabelText=@Localize["Show places"] />
  </Column>
  <Column>
    <CheckBox Checked="DynaZoomed" CheckedChanged="(e)=>DynaZoomed=e" LabelText=@Localize["Dyn. zoom"] />
  </Column>
  <Column>
    <CheckBox Checked="SD.CurrentUser.Prefs.DisplayConnectors" CheckedChanged="(e)=>{ SD.CurrentUser.Prefs.DisplayConnectors=e; DS.WriteUser(SD,SD.CurrentUser); }" LabelText=@Localize["Show movements"] />
  </Column>
</Row>
<PhotoPopup @ref="PhotoPopup1" />
<GoogleMap @ref="@googleMap" Id="googleMap" Options="@mapOptions" Height="100%"></GoogleMap>
